<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipepool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipePool">
        <activity
            android:name=".screens.ManageInventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.AddRecipe"
            android:exported="false"
            android:parentActivityName=".screens.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.TaggedRecipes"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screens.Search"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SignUp"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.RecipePageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".screens.ProfileActivity"
            android:exported="true"
            android:parentActivityName=".screens.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>
    </application>

</manifest>